<div *ngIf="cause" >
  <div  class="page-header">
    <h2>{{ cause.name }}</h2>
    <div *ngIf="auth.user?.role == 'creatorcause'">
      <a [routerLink]="['/causes', cause._id, 'edit']">Edit</a>
    </div>
  </div>
  <section class="row">
    <div class="col-md-6 col-xs-12">
      <div class="embed-responsive embed-responsive-16by9" [innerHtml]="video"></div>
    </div>
    <div class="col-md-6 col-xs-12">
      <ul>
        <li>
          <span class="glyphicon glyphicon-time"></span>
          Time remaining: {{ cause.timeRemaining }}
        </li>
        <li>Total budget: {{ cause.totalBudget }}</li>
        <li>Total Donation: {{ cause.percentageDonation }}%</li>
      </ul>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
        <h4>Donate</h4>
        <button (click)="openDonationModal(5)" class="btn btn-default">5 €</button>
        <button (click)="openDonationModal(10)" class="btn btn-default">10 €</button>
        <button (click)="openDonationModal(20)" class="btn btn-default">20 €</button>
      </div>
    </div>
  </section>
  <section id="general-information" class="row">
    <div class="col-md-6 col-xs-12">
      <h4>
        <span class="glyphicon glyphicon-info-sign"></span>
        About this cause
      </h4>
      {{ cause.description }}

      <div>
        <h4>
          <span class="glyphicon glyphicon-tasks"></span>
          Objectives
        </h4>
        <ol>
          <li *ngFor="let objective of cause.objectives">
            {{ objective }}
          </li>
        </ol>
      </div>
      <div>
        <h4>
          <span class="glyphicon glyphicon-user"></span>
          Members
        </h4>
        <ul *ngFor="let member of cause.members">
          <div class="col-md-3">
            <li>{{ member.name }}</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <app-donations [donations]="cause.donations"></app-donations>
    </div>
  </section>
</div>
