<h1>Causes</h1>
<section class="col-xs-12 col-md-8">
  <div class="col-xs-6 col-md-4">
    <div *ngFor="let cause of causeList" class="cause thumbnail" >
      <div class="embed-responsive embed-responsive-4by3" width="300">
        <!-- <iframe class="embed-responsive-item" src="{{cause.videourl}}" ></iframe> -->
      </div>
      <div class="caption">
        <h4><a *ngIf="cause" [routerLink]="[cause._id]">{{cause.name}}</a></h4>
        <div>
          <div>
            <span class="glyphicon glyphicon-time"></span>
            Time remaining: {{cause.timeRemaining}}
          </div>
          <span>Total budget: {{cause.totalBudget}}</span>
          <span>Total Donation: {{cause.percentageDonation}}%</span>
        </div>
      </div>
    </div>
  </div>
</section>
