<div class="page-header">
    <h1>Causes</h1>
</div>
<section class="row">
  <div *ngFor="let cause of causeList" class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <!-- <div class="embed-responsive embed-responsive-16by9" [innerHtml]="causeVideo(cause)"></div> -->
      <div class="caption">
        <h4><a *ngIf="cause" [routerLink]="[cause._id]">{{cause.name}}</a></h4>
        <div>
          <div>
            <span class="glyphicon glyphicon-time"></span>
            Time remaining: {{cause.timeRemaining}}
          </div>
          <span>Total budget: {{cause.totalBudget}}</span>
          <span>Total Donation: {{cause.percentageDonation}}%</span>
        </div>
      </div>
    </div>
  </div>
  <button (click)="loadCauses()" type="button" name="button" class="btn btn-default center-block">
    <span class="glyphicon glyphicon-plus"></span>
    Load more
  </button>
</section>
